@model FleetOps.Models.Login
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password | FleetOps</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
</head>
<body>
    <form action="@Url.Action("Login","Auth")" method="post" id="formLogin">
        <div class="container">
            <div class="row">
                <div class="login-box col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">

                    <div class="header" style="color:#758799">
                        Reset Your Password
                    </div>


                    <div class="alert alert-danger" style="display:none">
                        <button type="button" class="close" data-dismiss="alert" style="margin:0">×</button>
                        <span id="message"></span>
                    </div>




                    <fieldset>

                        <div class="form-group first">
                            <div class="input-group col-sm-12">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control input-lg", placeholder = "New Password" })
                            </div>
                        </div>

                        <div class="form-group last">
                            <div class="input-group col-sm-12">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control input-lg", placeholder = "Retype New Password" })
                            </div>
                        </div>
                        @Html.Hidden("Token", (string)ViewBag.Token)
                        <button type="submit" id="btnreset" class="btn btn-primary col-xs-12">Reset Now</button>

                        <div class="row">
                            <div class="col-xs-7">
                                <a class="pull-left" href="@System.Configuration.ConfigurationManager.AppSettings["urlPrefix"]/Auth/Login">Back to login page</a>
                            </div><!--/col-->

                        </div><!--/row-->

                    </fieldset>




                </div>
            </div><!--/row-->
        </div><!--/container-->
    </form>

    <script src="~/Content/scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript">
        $(function () {

            $('#btnreset').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '@System.Configuration.ConfigurationManager.AppSettings["urlPrefix"]/Auth/ResetInternalPassword',
                    data: $('#formLogin').serialize(),
                    type: 'POST',
                    success: function (data) {
                        $('#message').text(data.desp);
                        $('#message').closest('.alert').show().removeClass('alert-success').removeClass('alert-danger');
                        $('#message').closest('.alert').addClass(data.flag == 0 ? 'alert-success' : 'alert-danger');
                    }
                })
            })

        });
    </script>
</body>
</html>
