@using FleetOps.Helpers
@using ModelSector.Global_Resources;
@model  ModelSector.MerchPostedTxnSearch
<h1>Transaction Search</h1><br />
<div class="modal md-modal md-effect-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" tabindex="-1" app-modal trigger="modalOpen" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header" data-toggle="modal">
                    <button type="button" class="close" data-dismiss="modal" ng-click="modalOpen=false;" aria-hidden="true">X</button>
                    <h2>Transaction Search</h2>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-6">
                            @Html.CustomNgSelectListFor(model => model.SelectedDealer, Model.Dealer, null, new { @Name = "Dealer", @section = "mps" })
                        </div>
                        <div class="col-sm-6">
                            @Html.CustomNgSelectListFor(model => model.SelectedTxnCd, Model.TxnCd, null, new { @Name = "TxnCd", @section = "mps" })
                        </div>
                        <div class="col-sm-6">
                            @*@Html.CustomNgTextBoxFor(model => model.TxnDate, new { required = true }, new { id = "txtContactName", @section = "con" })*@
                            @Html.CustomNgTextBoxFor(model => model.TxnDate, new { required = true }, new { @date_picker = "transactionDate", @section = "mps" })
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    @if (!Html.NotAuthorized("mps", "btnsearch"))
                    {
                        <div class="form-actions">
                            <button data-validation-form data-customsubmit="searchTxn();" @(Html.IsReadOnly("mps", "btnsearch") ? "disabled=disabled" : "") class="btn btn-primary">Search</button>
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
</div>

<div class="panel panel-default">

    <div class="panel-heading">
        <div class="panel-actions pull-left">
            @if (!Html.NotAuthorized("mps", "btnsearchList"))
            {
                <a href="javascript:;" ng-click="modalClick();" @(Html.IsReadOnly("mps", "btnsearchList") ? "disabled=disabled" : "") class="btn-minimize"><i class="fa fa-search"></i></a>
            }
            
            <a href="javascript:;" class="btn-close"><i class="fa fa-refresh"></i></a>
        </div>
    </div>

    <div class="panel-body">

        <table class="table bootstrap-datatable datatable small-font" data-dtable options="dtOptions">
            <thead>
                <tr>
                    <th>Dealer</th>
                    <th>Term Batch</th>
                    <th>Txn Date</th>
                    <th>Card No</th>
                    <th>Txn Descp</th>
                    <th>Txn Amt</th>
                    <th>Term Id</th>
                    <th>Auth No</th>
                    <th>Auth Card No</th>
                    <th>Prcs Date</th>
                    <th>Txn Id</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
