@using FleetOps.Helpers
@model ModelSector.ChangeStatus

<form id="frmChangeStatus" class="form-horizontal">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginForm("SaveChangedStatus", "MerchantSignUp", FormMethod.Post, new { id = "formChangedAcctSts", @class = "form-horizontal" }))
                {

                    @Html.CustomNgSelectListFor(model => model.SelectedCurrentStatus, Model.CurrentStatus, null, new { @class = "span5", disabled = "disabled", @section = "Status Maintainance" })
                    @Html.CustomNgSelectListFor(model => model.SelectedChangeStatusTo, Model.ChangeStatusTo, new { required = true }, new { @class = "span5", @section = "Status Maintainance" })
                    @Html.CustomNgSelectListFor(model => model.SelectedRefType, Model.RefType, null, new { @class = "span5", @section = "Status Maintainance" })
                    @Html.CustomNgSelectListFor(model => model.SelectedReasonCode, Model.ReasonCode, new { required = true }, new { @class = "span5", @section = "Status Maintainance" })
                    @Html.CustomNgTextAreaFor(model => model.Remarks, null, new { @rows = "3", Class = "span5", @section = "Status Maintainance" })


                }
                <input type="hidden" id="stsSaveAccess" value="@Html.GetControlStatus("Save","Status Maintainance")" />
                </div>
            </div>
        </div>
    </form>
