@using FleetOps.Helpers
@using ModelSector.Global_Resources;
@model ModelSector.ContactLstModel

<style type="text/css">
    .sub-nav-bar {
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
    }
</style>
<h1>Contact List <small></small></h1>
<br />
<style type="text/css">
    .panel .panel-heading .panel-actions a i.fa {
        color: #666666;
        font-weight: bold;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        @*<h2><i class="fa fa-list"></i>Velocity Limits</h2>*@
        <div class="panel-actions pull-left">
            @if (!Html.NotAuthorized("con", "AddContactTbl"))
            {
                <a href="javascript:;" @(Html.IsReadOnly("con", "AddContactTbl") ? "disabled=disabled" : "ng-click=modalClick($event);") class="btn-minimize"><i class="fa fa-plus"></i>&nbsp;New</a>
            }
            <a href="javascript:;" ng-click="refresh();" class="btn-close"><i class="fa fa-refresh"></i></a>
            @if (!Html.NotAuthorized("con", "DeleteContactAcct"))
            {
            <span style="display:none" id="tblContacts-options">
            <a @(Html.IsReadOnly("con", "DeleteContactAcct") ? "disabled=disabled" : "ng-click=deleteModalOpen=true;") href="javascript:;"><i class="fa fa-trash-o"></i></a>
            </span>
            }
        </div>
    </div>
    <div class="panel-body">
        <div class="table-holder">
            <table class="table bootstrap-datatable datatable small-font" data-dtable options="dtOptions">
                <thead>
                    <tr>
                        <th></th>
                        <th>Contact Type</th>
                        <th>Contact Name</th>
                        <th>Contact No</th>
                        <th>Status</th>
                        @*<th>Function</th>*@
                        <th>Email Address</th>
                        <th>Creation Date</th>
                        <th>User ID</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<form>
<div class="modal md-modal md-effect-1" role="dialog" aria-labelledby="myModalLabel" app-modal trigger="modalOpen" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" data-toggle="modal">
                <button type="button" ng-click="modalOpen=false;" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                <h2>Contact Maintenance: {{_Object.ContactName}} </h2>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.CustomNgSelectListFor(model => model.SelectedContactType, Model.ContactType, new { required = true }, new { @Name = "ContactType", id = "ddlContactType", @section = "con", ng_disabled = "isUpdate" })
                        </div>
                        <div class="col-sm-6">
                            @Html.CustomNgTextBoxFor(model => model.ContactNo, null, new { id = "txtContactNo", @section = "con", ng_disabled = "_Object.SelectedContactType == 4", maxlength = "16" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.CustomNgTextBoxFor(model => model.ContactName, new { required = true }, new { id = "txtContactName", @section = "con" })
                        </div>
                        <div class="col-sm-6">
                            @Html.CustomNgTextBoxFor(model => model.EmailAddr, null, new { id = "txtContactEmail", @section = "con", ng_disabled = "_Object.SelectedContactType != 4" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            @Html.CustomNgSelectListFor(model => model.SelectedSts, Model.Sts, null, new { @Name = "Sts", @section = "con", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-6">
                            @Html.CustomNgSelectListFor(model => model.SelectedOccupation, Model.Occupation, null, new { @Name = "Occupation", @section = "con" })
                        </div>
                    </div>
                    @Html.CustomNgTextBoxFor(model => model.CreationDate, null, new { id = "txtContactCreationDate", @section = "con", @readonly = "readonly" })
            </div>
            <div class="modal-footer">
                <div class="form-actions">
                @if (!Html.NotAuthorized("con", "btnSaveContact"))
                {
                    <button data-validation-form data-customsubmit="SaveContact();" @(Html.IsReadOnly("con", "btnSaveContact") ? "disabled=disabled" : "") class="btn btn-primary">Save</button>
                }
                </div>
            </div>
        </div>
    </div>
</div>
</form>@*for save*@

<div class="modal fade" id="delete-modal" app-modal trigger="deleteModalOpen">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="deleteModalOpen=false;" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirm Delete?</h4>
            </div>
            <div class="modal-body">
                <p>This will delete the record, continue?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="deleteModalOpen=false;" data-dismiss="modal">Cancel</button>
                <button type="button" ng-click="deleteRecord();" class="btn btn-danger">Yes, Continue</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
